.commentItem {
  display: "flex";
  flex-direction: "column";
  width: "100%";
  text-align: left;
}
#commentBreakLine {
  display: block;
  background-color: #f3f3f3;
  padding: 1px;
  margin: 0px 0.2em;
}
#commentBy {
  color: #666666;
}
#commentBox {
  padding-top: 15px;
}
