.newsItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.serNoTitleBox {
  display: flex;
  justify-content: flex-start;
}
h3 {
  margin-right: 10px;
}
#newsDetailStyle {
  text-align: left;
  margin-left: inherit;
  margin-top: 0px;
  margin-bottom: 10px;
}
.titleStyle {
  color: black;
  padding: 0px;
  text-decoration: none;
}
.titleStyle:hover {
  color: #2ab4d4;
}
