.loadingImgBox {
  display: flex;
  justify-content: center;
  height: 165px;
}
.loadingImg {
  margin-top: 100px;
  height: 50px;
  width: 70px;
  animation-name: loading;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}
@keyframes loading {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.7);
  }
}
